body {
  font-family: sans-serif;
  font-size: 12px;
}

.separator {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #bfc8cc;
  border-width: 0.5px;
}

.divider {
  color: #bfc8cc;
  border-width: 0.5px;
}

@page {
  @bottom-left {
    content: element(footer);
    vertical-align: top;
    padding-top: 10px;
  }
  @top-right {
    content: element(header);
    vertical-align: bottom;
    padding-bottom: 10px;
  }
  margin-top: 5cm;
  margin-bottom: 2cm;
  size: A4 landscape;
}
div.header {
  position: running(header);
}

div.footer {
  display: block;
  margin-top: 0.5cm;
  position: running(footer);
}
#pagenumber:before {
  content: counter(page);
}
#pagecount:before {
  content: counter(pages);
}

.page-count {
  text-align: center;
}
.footer {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.bottom {
  vertical-align: bottom;
}
.header-block {
  height: 100px;
}
table {
  width: 100%;
}

.page-break {
  page-break-after: always;
}
.next-page {
  page-break-before: always;
}
/* This is my css */
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.logo {
  width: 180px;
  height: 50px;
}
.title {
  margin-top: 10px;
  font-weight: normal;
}
.name {
  font-size: 12px;
}

.header-details {
  margin-top: 10px;
  border: 1px solid #bfc8cc;
  padding: 10px;
  border-radius: 8px;
}
.item-heading {
  margin-top: 25px;
  margin-bottom: 15px;
}

.line-item {
  border: 1px solid #bfc8cc;
  border-radius: 8px;
  border-spacing: 0;
}
.line-item td,
.line-item th {
  padding: 16px;
}
.line-item th,
.line-item td {
  border-bottom: 1px solid #bfc8cc;
}
.line-item td {
  border-bottom: 1px solid #bfc8cc;
}

.line-item td {
  border-right: 1px solid #bfc8cc;
}
.line-item th {
  border-bottom: 1px solid #bfc8cc;
}

.line-item th {
  border-right: 1px solid #bfc8cc;
}
.line-item tbody tr:last-child td {
  border-bottom: none;
}

.width22 {
  width: 22%;
}

.line-item .border-right-none {
  border-right: none;
}

.width16 {
  width: 16%;
}

.declaration {
  margin-top: 15px;
}

.signature{
    margin-top: 25px;
}

.margin-top10{
    margin-top: 10px;
}

.total{
    margin-top: 25px;
    text-align: right;
    display: table;
    float: right;
}

.total > div {
  display: table-row;
}

.total-title{
    display: inline-block;
    padding: 10px;
}

.total-value {
    display: table-cell;
    border: 1px solid #BFC8CC;
}

.total-value .no-border {
     border-bottom: none
 }

