<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{{ id }} : {{ name }} ({{ status }})
<table>
    {{#items}}
        <tr>
            <td>{{channel}}</td><td>{{mediaFormat}}</td><td>{{budget}}</td>
        </tr>
    {{/items}}
</table>
</body>
</html>
